@model Web_Shoes.Entity.Coupons

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-lg-12">
                <h2>Users:</h2>
            </div>
        </div>
 /. ROW  
<hr />
    <div class="row">
        <div class="col-lg-12 ">


            <h4>Coupons</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Create" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group" hidden>
                            <label asp-for="couponId" class="control-label"></label>
                            <input asp-for="couponId" class="form-control" />
                            <span asp-validation-for="couponId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="couponCode" class="control-label"></label>
                            <input asp-for="couponCode" class="form-control" />
                            <span asp-validation-for="couponCode" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="couponPrice" class="control-label"></label>
                            <input asp-for="couponPrice" class="form-control" />
                            <span asp-validation-for="couponPrice" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="couponAmount" class="control-label"></label>
                            <input asp-for="couponAmount" class="form-control" />
                            <span asp-validation-for="couponAmount" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="couponAmountUsed" class="control-label"></label>
                            <input asp-for="couponAmountUsed" class="form-control" />
                            <span asp-validation-for="couponAmountUsed" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="Index">Back to List</a>
            </div>

        </div>
    </div>
</div>
 /. PAGE INNER  
</div>
<h1>Create</h1>


@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
