<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<body>

    <partial name="./_PartialAdmin/_HeaderAdminPartial" />

    <div id="wrapper">
        <partial name="./_PartialAdmin/_MenuTopAdminPartial" />

        <!-- /. NAV TOP  -->
        <partial name="./_PartialAdmin/_MenuAdminPartial" />
        <!-- /. NAV SIDE  -->
        @RenderBody()
        <!-- /. PAGE WRAPPER  -->
    </div>



    <!--FooterAdminPartial-->
    <partial name="./_PartialAdmin/_FooterAdminPartial" />


</body>
</html>
