<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<!--HeaderAdminPartial-->
<partial name="~/_PartialAdmin/_HeaderAdminPartial" />
<body>
    <div id="wrapper">
        <!--MenuTopAdminPartial-->
        <partial name="~/_PartialAdmin/_MenuTopAdminPartial" />
        <!-- /. NAV TOP  -->
        <!-- MenuAdminPartial-->
        <partial name="~/_PartialAdmin/_MenuAdminPartial" />
        <!-- /. NAV SIDE  -->
        <!--Content-->
        @RenderBody()
        <!-- /. PAGE WRAPPER  -->
    </div>


    <!--FooterAdminPartial-->
    <partial name="~/_PartialAdmin/_FooterAdminPartial" />

    <partial name="~/_ValidationScriptsPartial" />


</body>
</html>
