<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">



            <li class="active-link">
                <a href="/admin"><i class="fa fa-desktop "></i>Dashboard <span class="badge">Home</span></a>
            </li>
            <li>
                <a href="/usermanagement"><i class="fa fa-table "></i>User: <span class="badge">Account:</span></a>
            </li>
            <li>
                <a href="/rolemanagement"><i class="fa fa-qrcode "></i>Role:</a>
            </li>
            <li>
                <a href="/productmanagement"><i class="fa fa-edit "></i>Products:  <span class="badge">Products:</span></a>
            </li>
            <li>
                <a href="/subsribersmanagement"><i class="fa fa-edit "></i>Subsribers:  </a>
            </li>
            <li>
                <a href="/couponsmanagement"><i class="fa fa-edit "></i>Coupon Management:  </a>
            </li>
            <li>
                <a href="/commentsmanagement"><i class="fa fa-edit "></i>Comment: </a>
            </li>
            <li>
                <a href="/contactmanagement"><i class="fa fa-edit "></i>System Management: <span class="badge">Contact</span> </a>
            </li>
            <li>
                <a href="/homemanagement/slider"><i class="fa fa-edit "></i>Home Management: <span class="badge">Slider</span> </a>
            </li>
            <li>
                <a href="/homemanagement/categories"><i class="fa fa-edit "></i>Home Management: <span class="badge">Categories</span> </a>
            </li>
            <li>
                <a href="/homemanagement/customer"><i class="fa fa-edit "></i>Home Management: <span class="badge">Customer</span> </a>
            </li>
            <li>
                <a href="/contactusersmanagement"><i class="fa fa-edit "></i>Customer Management: <span class="badge">Contact User</span> </a>
            </li>



            @*<li>
            <a href="#"><i class="fa fa-bar-chart-o"></i>My Link Two</a>
        </li>*@

            @*<li>
            <a href="/about"><i class="fa fa-edit "></i>About website:  <span class="badge">System</span></a>
        </li>*@


            @*<li>
            <a href="/orderconfirmationmanagement"><i class="fa fa-table "></i>Order Confirm:</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-edit "></i>My Link Five </a>
        </li>*@

        </ul>
    </div>

</nav>