@using Microsoft.AspNetCore.Http;
@using Web_Shoes.Data;
@using Web_Shoes.StatisFile;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Identity
@using Web_Shoes.Entity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@{
    string user = "aa";
}


<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="adjust-nav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="https://e1.pngegg.com/pngimages/630/550/png-clipart-metrostation-black-home-icon-thumbnail.png" width="50px" />
            </a>



        </div>
        @if (SignInManager.IsSignedIn(User))
        {
            @*<span class="logout-spn">
                <span>Hi @user</span>
                <a href="#" style="color:red;">LOGOUT</a>
            </span>

            <span class="logout-spn">

            </span>*@

                <div class="logout-spn">
                    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="text-light">Hello @User.Identity.Name!</a>


                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class=" btn btn-link ">Logout</button>
                    </form>
                </div>
            
            }
            else
            {

    <div class="logout-spn">
        
        
            <a href="/login" class="dropdown-item">Login</a>
            <a href="/register" class="dropdown-item">Register</a>
        
    </div>
            }
    </div>
</div>