<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">



            <li class="active-link">
                <a href="/admin"><i class="fa fa-desktop "></i>Dashboard <span class="badge">Home</span></a>
            </li>
            <li>
                <a href="/usermanagement"><i class="fa fa-table "></i>Users Management: <span class="badge">Admin</span></a>
            </li>
            <li>
                <a href="/rolemanagement"><i class="fa fa-qrcode "></i>Roles Management: <span class="badge">Admin</span></a>
            </li>
            <li>
                <a href="/homemanagement/customer"><i class="fa fa-edit "></i>Customer System: <span class="badge">Admin</span> </a>
            </li>
            <li>
                <a href="/homemanagement/slider"><i class="fa fa-edit "></i>Slider System: <span class="badge">Admin</span> </a>
            </li>
            <li>
                <a href="/contactmanagement"><i class="fa fa-edit "></i>Contact System: <span class="badge">Admin</span> </a>
            </li>
            <li>
                <a href="/productmanagement"><i class="fa fa-edit "></i>Products Management:  <span class="badge">Staff:</span></a>
            </li>
            <li>
                <a href="/couponsmanagement"><i class="fa fa-edit "></i>Coupons Management: <span class="badge">Staff:</span> </a>
            </li>
            <li>
                <a href="/commentsmanagement"><i class="fa fa-edit "></i>Comment Management: <span class="badge">Staff:</span></a>
            </li>
            <li>
                <a href="/homemanagement/categories"><i class="fa fa-edit "></i>Categories Management: <span class="badge">Staff:</span> </a>
            </li>
            <li>
                <a href="/subsribersmanagement"><i class="fa fa-edit "></i>Subsribers: <span class="badge">Staff:</span> </a>
            </li>
            <li>
                <a href="/contactusersmanagement"><i class="fa fa-edit "></i>Customer Management: <span class="badge">Staff:</span> </a>
            </li>



            @*<li>
            <a href="#"><i class="fa fa-bar-chart-o"></i>My Link Two</a>
        </li>*@

            @*<li>
            <a href="/about"><i class="fa fa-edit "></i>About website:  <span class="badge">System</span></a>
        </li>*@


            @*<li>
            <a href="/orderconfirmationmanagement"><i class="fa fa-table "></i>Order Confirm:</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-edit "></i>My Link Five </a>
        </li>*@

        </ul>
    </div>

</nav>