<html lang="en">

<!-- Header Partial-->
<partial name="_HeaderPartial" />

<body>
    <!-- MenuTopPartial-->
    <partial name="_MenuTopPartial" />


    <div id="wrapper" class="container">

        <!-- MeunuPartial-->
        <partial name="_MenuPartial" />


        <!-- BodyContent-->
        @RenderBody()



        <!-- FooterPartial-->
        <partial name="_FooterPartial" />



        @await RenderSectionAsync("Scripts", required: false)
    </div>



    <script src="~/themes/js/common.js"></script>
    <script src="~/themes/js/jquery.flexslider-min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(document).ready(function () {
                $('.flexslider').flexslider({
                    animation: "fade",
                    slideshowSpeed: 4000,
                    animationSpeed: 600,
                    controlNav: false,
                    directionNav: true,
                    controlsContainer: ".flex-container" // the container that holds the flexslider
                });
            });
        });
    </script>
</body>
</html>