<!DOCTYPE html>
<html lang="en">
<!--HeaderPartial-->
<partial name="./_Partial/_HeaderFartial.cshtml" />

<body>
    <!-- Top bar Start -->
    <!--TopBarPartial-->
    <partial name="./_Partial/_TopBarPartial.cshtml" />
    <!-- Top bar End -->

    <!-- Nav Bar Start -->
    <!-- NavBarPartial-->
    <partial name="./_Partial/_NavbarPatial.cshtml" />
    <!-- Nav Bar End -->

    <!-- Bottom Bar Start -->
    <!-- BottomBarPartial-->
    <partial name="./_Partial/_BottomBarPartial.cshtml" />
    <!-- Bottom Bar End -->

    <!-- Main Slider Start -->
    @RenderBody()
    <!-- Footer Start -->
    <partial name="./_Partial/_FooterPartial.cshtml" />


    <!-- Back to Top -->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/slick/slick.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>
</html>
