@{
    Layout = null;
}

<div>


    <div>
        <center> <h2> Order confirmation #1111 </h2> </center>
    </div>
    <div>
        <table class='table'>
            <tr>
                <th>Name:</th>
                <td>Name</td>
            </tr>

            <tr>
                <th>Phone:</th>
                <td>0123456789</td>
            </tr>

            <tr>
                <th>Address:</th>
                <td>HCM,1223.</td>
            </tr>

            <tr>
                <th>Email:</th>
                <td>email@gmail.com</td>
            </tr>

            <tr>
                <th>Price:</th>
                <td>2000$</td>
            </tr>
        </table>
    </div>

    <div>
        <table class=\"table\">
            <thead>
                <tr>
                    <th scope=\"col\">Name</th>
                    <th scope=\"col\>Size</th>
                    <th scope=\"col\>Color</th>
                    <th scope=\"col\>Amount</th>
                    <th scope=\"col\>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Name1</td>
                    <td>Size1</td>
                    <td>Color1</td>
                    <td>Amount1</td>
                    <td>Price1</td>
                </tr>

                <tr>
                    <td colspan=\"3\"></td>
                    <td>Ship:</td>
                    <td>1$</td>
                </tr>
                <tr>
                    <td colspan=\"3\"></td>
                    <td>Discount:</td>
                    <td>5$</td>
                </tr>
                <tr>
                    <td colspan=\"3\"></td>
                    <td>Sum Price:</td>
                    <td>2000$</td>
                </tr>
            </tbody>
            
        </table>
    </div>


</div>





<div><table class=\"table\"><thead><tr><th scope=\"col\">Name</th><th scope=\"col\>Size</th><th scope=\"col\>Color</th><th scope=\"col\>Amount</th><th scope=\"col\>Price</th></tr></thead><tbody><tr><td>Name1</td><td>Size1</td><td>Color1</td><td>Amount1</td><td>Price1</td></tr><tr><td colspan=\"3\"></td><td>Ship:</td><td>1$</td></tr><tr><td colspan=\"3\"></td><tr><td colspan=\"3\"></td><td>Sum Price:</td><td>2000$</td></tr></tbody></table></div>